/* .botonModal :hover {
  border-color: #1da1f2;
  border-radius: 30px;
  box-shadow: inset;
} */

.botonModal:hover {
  background-color: #1b1b1b;
  transition: 0.3s;
}

.botonModal {
  /* border-color: #1da1f2; */
  border-radius: 30px;
  width: 280px;
  font-size: 13px;
  margin-left: -15px;
}

.imagenLogOut {
  margin-top: 2px;
}

#popover-basic {
  border-color: #1da1f2;
}

@media (max-width: 768px) {
  .ocultarLogOut {
    display: none;
  }
}
@media (max-width: 768px) {
  .botonModal {
    margin-left: 16px;
    width: 55px;
  }
}

@media (max-width: 768px) {
  .imagenLogOut {
    margin-left: -5px;
    padding-bottom: -3px;
  }
}

@media (min-width: 768px) {
  .botonModal {
    width: 220px;
    margin-left: -55px;
  }
}

@media (min-width: 992px) {
  .botonModal {
    width: 220px;
    margin-left: -18px;
  }
}

@media (min-width: 1200px) {
  .botonModal {
    margin-left: 15px;
  }
}
