/* .sidebarlefthcontainer {
} */

/*Side Bar styles*/
/* .sidebar-left-container {
  border-right: grey solid 2px;
} */
.sidebar-left-container a:link,
.sidebar-left-container a:visited,
.sidebar-left-container a:active,
.sidebar-left-container a:hover {
  text-decoration: none;
  color: rgb(209, 209, 209);
}
.sidebar-left-container a {
  color: rgb(209, 209, 209);
}
.sidebar-left-container #home-icon:hover {
  background-color: #1da1f2;
}
.sidebar-left-container .div-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
}

.sidebar-left-container .div-container:hover {
  background-color: #1b1b1b;
  transition: 0.3s;
}
.sidebar-left-container .div-container-text {
  font-size: 1.3rem;
}
.sidebar-left-container .logo {
  width: 2rem;
  filter: invert(97%) sepia(0%) saturate(0%) hue-rotate(179deg) brightness(90%)
    contrast(83%);
}
.sidebar-left-container .logo-small {
  width: 1rem;
  filter: invert(97%) sepia(0%) saturate(0%) hue-rotate(179deg) brightness(90%)
    contrast(83%);
}
.sidebar-left-container .btn-tweet {
  background-color: #1da1f2;
  margin-top: 2rem;
  width: 90%;
}
.sidebar-left-container .btn-tweet:hover {
  background-color: #1a92dd;
}
.sidebar-left-container .btn-tweet span {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
}
/*Section 3 */
.sidebar-left-container .aside-user-info {
  display: flex;
  align-items: flex-end;
}
.sidebar-left-container .aside-user-info svg {
  width: 35%;
}
.sidebar-left-container .aside-user-info-container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.sidebar-left-container .aside-user-info-container:hover {
  background-color: #1b1b1b;
  transition: 0.2s;
}
.sidebar-left-container img {
  border-radius: 100%;
  height: 40px;
  width: 40px;
}
.sidebar-left-container .name {
  color: rgb(209, 209, 209);
  font-weight: 500;
}
.sidebar-left-container .user {
  color: rgb(81, 88, 93);
}

.profile-avatar {
  width: 100px;
  height: 100px;
}
@media (max-width: 991.98px) {
  .marginimg {
    margin: 10px;
  }
}
