body {
  background-color: black;
}
.border-bottom-dark {
  border-bottom: 1px solid rgb(47 51 54);
}
.border-top-dark {
  border-top: 1px solid rgb(47 51 54);
}
.ml-12px {
  margin-left: 12px;
}
.blue-filter-svg {
  filter: invert(27%) sepia(64%) saturate(3374%) hue-rotate(211deg)
    brightness(100%) contrast(94%);
}

/*Side Bar styles*/

aside {
  position: relative;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
nav a {
  width: 100%;
  margin-top: 10px;
}
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: rgb(209, 209, 209);
}
a {
  color: rgb(209, 209, 209);
}
#home-icon:hover {
  background-color: #1da1f2;
}
.div-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
}
.a:hover {
  display: inline;
}
.div-container:hover {
  background-color: #1b1b1b;
  transition: 0.3s;
}
.div-container-text {
  font-size: 1.3rem;
}
.logo {
  width: 2rem;
  filter: invert(97%) sepia(0%) saturate(0%) hue-rotate(179deg) brightness(90%)
    contrast(83%);
}
.logo-small {
  width: 1rem;
  filter: invert(97%) sepia(0%) saturate(0%) hue-rotate(179deg) brightness(90%)
    contrast(83%);
}
.btn-tweet {
  background-color: #1da1f2;
  margin-top: 2rem;
  width: 90%;
}
.btn-tweet:hover {
  background-color: #1a92dd;
}
.btn-tweet span {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
}
/*Section 3 */
.aside-user-info {
  display: flex;
  align-items: flex-end;
}
.aside-user-info svg {
  width: 35%;
}
.aside-user-info-container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.aside-user-info-container:hover {
  background-color: #1b1b1b;
  transition: 0.2s;
}
img {
  border-radius: 100%;
  height: 40px;
  width: 40px;
}
.name {
  color: rgb(209, 209, 209);
  font-weight: 500;
}
.user {
  color: rgb(81, 88, 93);
}
